<section id="about">
    <div class="text-center">
        <h2>Về chúng tôi</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="fit-image" src="{{ site.baseurl }}/img/about/thuedo.jpg"></img>
            </div>
            <div class="col-md-6">
                <h4>Chào mừng bạn đến với Thue.Do</h4>
                <div class="text-muted">
                    <p>Thue.Do là nền tảng online giúp kết nối Chủ tiệm và Khách thuê trong việc thuê vật dụng. Thue.Do ra đời với mong muốn hướng đến một lối sống tối giản, tiết kiệm và tiêu dùng bền vững.</p>
<p>Đến với Thue.Do, bạn có thể chia sẻ những vật dụng chất lượng mà mình đang sở hữu để tối ưu hoá sử dụng vòng đời sản phẩm bằng cách đăng cho thuê. </p>
<p>Đồng thời cũng có thể tìm và thuê được những món đồ chỉ dùng trong thời gian ngắn cho những nhu cầu đặc biệt với chất lượng như mới cùng giá thuê vô cùng hấp dẫn. </p>
                </div>
            </div>
        </div>

    </div>
</section>