  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://aromatic-burrito-64f.notion.site/Ch-nh-s-ch-b-o-m-t-8edfcc137ab349dfb5777f1a2eaa5dae" target="_blank">Chính sách bảo mật</a>
                        </li>
                        <li><a href="https://aromatic-burrito-64f.notion.site/Ch-nh-s-ch-b-o-m-t-8edfcc137ab349dfb5777f1a2eaa5dae" target="_blank">Chính sách sử dụng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
