<section id="owner">
    <div class="container text-center">
        <h2>Chủ tiệm</h2>
    </div>
    <div class="first-ads-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="fit-image" src="{{ site.baseurl }}/img/owner/japanese-woman.jpg"></img>
                </div>
                <div class="col-md-6">
                    <h4>Bạn là chủ tiệm cho thuê quần áo / sách / đồ công nghệ và muốn mở rộng mô hình??</h4>
                    <div class="text-muted">Thue.Do sẽ giúp bạn tiếp cận thêm hàng ngàn khách hàng mục tiêu. Hãy liên hệ ngay với Thue.Do!</div>
                    <a class="btn btn-primary btn-sm" style="margin-top: 20px">Đăng ký tạo gian hàng</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thuedo-benefit last-row-in-section bg-ghost-white">
        <div class="container text-center">
            <h4>Thue.Do sẽ giúp bạn</h4>
            <div class="row step-container">
                <div class="col-md-3">
                    <img src="{{ site.baseurl }}/img/owner/meeting.svg"></img>
                    <h5 class="service-heading">Nhanh chóng tiếp cận khách hàng</h5>
                </div>
                <div class="col-md-3">
                    <img src="{{ site.baseurl }}/img/owner/chart.svg"></img>
                    <h5 class="service-heading">Dễ dàng tăng thêm thu nhập</h5>
                </div>
                <div class="col-md-3">
                    <img src="{{ site.baseurl }}/img/owner/list.svg"></img>
                    <h5 class="service-heading">Quản lý gian hàng thông minh</h5>
                </div>
                <div class="col-md-3">
                    <img src="{{ site.baseurl }}/img/owner/heart.svg"></img>
                    <h5 class="service-heading">Giải quyết vấn đề kịp thời</h5>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>