<section id="owner">
    <div class="container text-center">
        <h2>Chủ tiệm</h2>
    </div>
    <div class="first-ads-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="fit-image" src="{{ site.baseurl }}/img/owner/many-clothes.jpg"></img>
                </div>
                <div class="col-md-6">
                    <h4>Bạn có nhiều quần áo và muốn tăng thu nhập?</h4>
                    <div class="text-muted">Tạo ngay gian hàng của riêng mình và bắt đầu cho thuê ngay bây giờ. Hãy liên hệ ngay với Thue.Do!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-ads-row bg-ghost-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Bạn là chủ tiệm cho thuê quần áo và muốn mở rộng mô hình?</h4>
                    <div class="text-muted">Thue.Do sẽ giúp bạn tiếp cận thêm hàng ngàn khách hàng mục tiêu. Hãy liên hệ ngay với Thue.Do!</div>
                </div>
                <div class="col-md-6">
                    <img class="fit-image" src="{{ site.baseurl }}/img/owner/japanese-woman.jpg"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="thuedo-benefit last-row-in-section">
        <div class="container text-center">
            <h4>Thue.Do sẽ giúp bạn</h4>
            <div class="row step-container">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/owner/meeting.svg"></img>
                        </i>
                    </span>
                    <h5 class="service-heading">Nhanh chóng tiếp cận khách hàng</h5>
                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/owner/chart.svg"></img>
                        </i>
                    </span>
                    <h5 class="service-heading">Dễ dàng tăng thêm thu nhập</h5>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/owner/list.svg"></img>
                        </i>
                    </span>
                    <h5 class="service-heading">Quản lý gian hàng thông minh</h5>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/owner/heart.svg"></img>
                        </i>
                    </span>
                    <h5 class="service-heading">Giải quyết vấn đề kịp thời</h5>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>