<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/dress-woman.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Mẫu mã đa dạng</h4>
                <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/user-star.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Chủ tiệm uy tín</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/iron.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Miễn phí giặt ủi</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/hourglass.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Thao tác đơn giản</h4>
            </div>
        </div>
    </div>
</section>