<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row text-center">
            <h3>Người thuê</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/dress-woman.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Mẫu mã đa dạng</h4>
                <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/user-star.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Chủ tiệm uy tín</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/iron.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Miễn phí giặt ủi</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-stack-1x">
                        <img src="{{ site.baseurl }}/img/services/hourglass.svg"></img>
                    </i>
                </span>
                <h4 class="service-heading">Thao tác đơn giản</h4>
            </div>
        </div>
    </div>
    <div class="first-ads-row bg-ghost-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="fit-image" src="{{ site.baseurl }}/img/services/skirt.jpg"></img>
                </div>
                <div class="col-md-6">
                    <h4>Bạn muốn lên đồ hàng hiệu với mức giá tiết kiệm?</h4>
                    <div class="text-muted">Chọn ngay từ 500 mẫu áo quần đến từ các thương hiệu nổi tiếng đang sẵn có
                        trên Thue.Do</div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-ads-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Bạn muốn nổi bật tại mọi bữa tiệc mà chẳng sợ mặc trùng váy áo?</h4>
                    <div class="text-muted">Tải ngay ứng dụng Thue.Do và lựa chọn trang phục yêu thích trong tích tắc.
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="fit-image" src="{{ site.baseurl }}/img/services/dress.jpg"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="three-steps-rent bg-ghost-white">
        <div class="container text-center">
            <h4>03 bước đơn giản để thuê ngay!</h4>
            <div class="row step-container">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/services/cart.svg"></img>
                        </i>
                    </span>
                    <h4 class="service-heading">Chọn đồ</h4>
                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/services/event-confirm.svg"></img>
                        </i>
                    </span>
                    <h4 class="service-heading">Chọn kỳ hạn thuê</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-stack-1x">
                            <img src="{{ site.baseurl }}/img/services/box-ribbon.svg"></img>
                        </i>
                    </span>
                    <h4 class="service-heading">Thanh toán và nhận hàng</h4>
                </div>
            </div>
        </div>
    </div>
</section>